.SelectServerComponent {
    background-color: #282c34;
    min-height: 88.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.Select {
    position: relative; left: 20px;
}
